HOST=127.0.0.1
PORT=1337
PUBLIC_URL=http://localhost:1337
DATABASE_FILENAME=.tmp/data.db
APP_KEYS=replace-with-two-random-secrets,separated-by-a-comma
ADMIN_JWT_SECRET=replace-me
API_TOKEN_SALT=replace-me
TRANSFER_TOKEN_SALT=replace-me
ENCRYPTION_KEY=replace-me
JWT_SECRET=replace-me
EDITOR_EMAIL=owner@example.com
EDITOR_PASSWORD=password@123
